<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>

  <groupId>eu.stamp-project.examples</groupId>
  <artifactId>dnoo</artifactId>
  <packaging>pom</packaging>
  <version>1.1.0</version>

  <modules>
     <module>dnooHello</module>
     <module>dnooIntegration</module>
     <module>dnooLogs</module>
     <module>dnooMain</module>
     <module>dnooStorage</module>
     <module>dnooNoTest</module>
  </modules>

  <properties>
    <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
    <default.encoding>UTF-8</default.encoding>
  </properties>

  <dependencyManagement>
    <dependencies>
      <dependency>
        <groupId>org.junit.platform</groupId>
        <artifactId>junit-platform-launcher</artifactId>
        <version>1.2.0</version>
      </dependency>
      <dependency>
        <groupId>org.junit.jupiter</groupId>
        <artifactId>junit-jupiter-engine</artifactId>
        <version>5.2.0</version>
      </dependency>
      <dependency>
        <groupId>org.junit.vintage</groupId>
        <artifactId>junit-vintage-engine</artifactId>
        <version>5.2.0</version>
      </dependency>
    </dependencies>
  </dependencyManagement>

  <build>
    <plugins>
      <plugin>
        <groupId>eu.stamp-project</groupId>
        <artifactId>pitmp-maven-plugin</artifactId>
        <version>##PITMP_VERSION##</version>
        <!-- list all the packages of the project that contain classes you want to be mutated
        -->
        <configuration>
          <targetClasses>
            <param>eu.stamp_project.examples.dnoo*</param>
          </targetClasses>
          <!-- property test
          <targetModules>
            <param>dnooIntegration</param>
            <param>dnooMain</param>
          </targetModules>
          <skippedModules>
            <param>dnooLogs</param>
            <param>dnooStorage</param>
          </skippedModules>
          -->
          <!--
          -->
          <excludedClasses>
            <param>eu.stamp_project.examples.dnoo.dnooLogs.MyUselessClass</param>
          </excludedClasses>
          <excludedMethods>
            <param>eu.stamp_project.examples.dnoo.dnooLogs.MyLogger.stringToLevel</param>
            <param>eu.stamp_project.examples.dnoo.dnooStorage.MyStorage.deleteFile</param>
            <param>eu.stamp_project.examples.dnoo.dnooHello.HelloApp.myPrint</param>
            <param>eu.stamp_project.examples.dnoo.dnooHello.HelloApp.cardMyTraces</param>
            <param>eu.stamp_project.examples.dnoo.dnooHello.HelloApp.getMyTraces</param>
          </excludedMethods>
        </configuration>
        <dependencies>
          <dependency>
            <groupId>org.pitest</groupId>
            <artifactId>pitest-maven</artifactId>
            <version>##PITEST_VERSION##</version>
          </dependency>
        </dependencies>
      </plugin>

      <plugin>
        <artifactId>maven-clean-plugin</artifactId>
        <version>2.5</version>
        <configuration>
          <filesets>
            <fileset>
              <directory>.</directory>
              <includes>
                <include>*.txt</include>
                <include>*.traces</include>
                <include>*.log</include>
                <include>*.log.*</include>
              </includes>
              <followSymlinks>false</followSymlinks>
            </fileset>
          </filesets>
        </configuration>
      </plugin>

      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-surefire-plugin</artifactId>
        <version>2.21.0</version>
        <dependencies>
          <dependency>
            <groupId>org.junit.platform</groupId>
            <artifactId>junit-platform-surefire-provider</artifactId>
            <version>1.2.0</version>
          </dependency>
          <dependency>
            <groupId>org.junit.jupiter</groupId>
            <artifactId>junit-jupiter-engine</artifactId>
            <version>5.2.0</version>
          </dependency>
        </dependencies>
      </plugin>
    </plugins>
  </build>

</project>
